.list-group-item {
    width: 250px;  
    overflow: auto;
    text-align: justify;
    background-color: #2EC6C6;
}

.list-group-item p {
   overflow: hidden;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   -webkit-line-clamp: 5; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.list-group-item h1 {
    float: left;
}

.list-group-item em {
    margin-left: 100px;
}

